{% extends "layout.html" %}
{% import "form.html" as forms with context %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block script %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
{% endblock %}

{% block content %}
    <input id="checkType" type="hidden" value="{{ checkType }}"/>
    <input id="currentBase" type="hidden" value="{{ base }}"/>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab">查看</a></li>
            {% if addURL %}
                <li><a href="#2" data-toggle="tab" id="addTab">添加</a></li>
            {% endif %}
            <li><a href="#3" data-toggle="tab" id="updateTab">更新</a></li>
         </ul>

        <ul>
            {% for category, msg in get_flashed_messages(with_categories=true) %}
                <li class='alert alert-{{ category }}'> {{ msg }}</li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <table class="table table-bordered table-striped" style="text-align:center" id="myTable">
                    <thead>
                        <tr>
                            {% for attr in taskShow.showSimpleAttr %}
                                <th> {{ taskShow[attr].label|striptags }} </th>
                            {% endfor %}
                       </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                {% for tInfo in taskShow.showSimpleAttr %}
                                    {% if tInfo == "email" %}
                                        <td> <a href="mailto:{{ d[tInfo] }}"> {{ d[tInfo] }}</a></td>
                                    {% elif tInfo =="stuff" and checkType == "base"  %}
                                        <td> <a href="{{ url_for('base.get_entities', base=d['name'], entity='stuff') }}"> 查看员工 </a></td>
                                    {% else %}
                                        <td> {{ d[tInfo] }} </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if addURL %}
                <div class="tab-pane" id="2">
                    {{ forms.myForm(addForm, addURL) }}
                </div>
            {% endif %}

            <div class="tab-pane" id="3">
                <div id="notify">  </div>
                {{ forms.myForm(updateForm, updateURL) }}
            </div>
        </div><!--tab-content -->
    </div>
{% endblock %}

{% block footer %}
    <script src="{{ url_for('static', filename='js/base.js') }}"> </script>
    {{ super() }}
{% endblock %}
